/*Стили для страницы Portfolio*/

/* нижняя граница для Хедер в Портфолио */
.accent {
  border-bottom: 1px solid #ececec;
}
.filters,
.work-examples {
  display: flex;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.filters .item:not(:last-child) {
  margin-right: 8px;
}
/*Кнопки-фильтры*/
button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  height: 38px;

  background: var(--secondary-background-color);
  color: var(--secondary-text-color);
  outline: none;

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background: var(--primary-hover-color);
  color: var(--primary-background-color);
}
button:focus {
  border: 0.5px groove var(--secondary-background-color);
}

/*Примеры работ*/

.work-examples {
  flex-wrap: wrap;
  margin: -15px;
}
.example {
  width: 370px;
  margin: 15px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.work-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link:hover,
.work-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.work-examples h2 {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.work-examples p {
  margin: 0px;
  padding: 0px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
.overlay {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.work-link .hover-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  max-height: 294px;
  padding: 63px 24px;
  transform: translateY(100%);

  color: var(--primary-background-color);
  font-size: 18px;
  line-height: 1.56;
  background: rgba(33, 150, 243, 0.9);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link:hover .hover-text {
  opacity: 1;
  transform: translateY(0);
}
.example-content {
  padding: 20px 24px;
  background: var(--primary-background-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
